.confirmModal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--background--modal);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: showModal 0.1s linear;
}

.hide {
  animation: hideModal 0.1s linear;
}

.form {
  max-width: 1200px;
  width: 500px;
  height: 400px;
  margin: 0px 2rem;
  border-radius: 25px;
  padding: 2rem 1rem;
  background-color: var(--white);
}

.formMain {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: var(--black);
}

.modalButtons {
  margin: 30px;
  display: flex;
  gap: 10px;
}

.modalButtons button {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.modalButtons .cancelButton {
  background-color: var(--red);
  color: var(--white);
}

.modalButtons .confirmButton {
  background-color: var(--main);
  color: var(--white);
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideModal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
