.buttons {
  display: flex;
  gap: 10px;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: none;
  color: var(--white);
  background-color: var(--main);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashIcon,
.addUserIcon {
  width: 25px;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  animation: showModal 0.1s linear;
  z-index: 2;
}

.hide {
  animation: hideModal 0.1s linear;
}

.form {
  max-width: 1200px;
  width: 100%;
  margin: 0px 2rem;
  border-radius: 25px;
  padding: 1.5rem;
  background-color: var(--white);
}

.formHeader {
  display: flex;
  justify-content: space-between;
  color: var(--black);
}

.closeIcon {
  width: 30px;
  cursor: pointer;
}

.formMain {
  display: grid;
  grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  margin: 1.5rem 0px;
  box-shadow: 0px 0px 2px var(--border-modal);
  border-radius: 15px;
  padding: 1.5rem;
  gap: 2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup label {
  color: var(--black);
}

.inputGroup input,
.inputGroup select,
.inputGroup option {
  padding: 8px 10px;
  border: none;
  box-shadow: 0px 0px 2px var(--border-modal);
  border-radius: 8px;
  outline: none;
}

.formButtons {
  display: flex;
  gap: 1rem;
}

.formButtons button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  color: var(--white);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.saveButton {
  background-color: var(--main);
}

.cancelButton {
  background-color: var(--red);
}

.deleteUser {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
  background-color: var(--red);
}

.showDeleteButton {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .buttons {
    position: fixed;
    right: 5px;
    bottom: 5px;
  }

  .button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  .trashIcon,
  .addUserIcon {
    width: 20px;
  }

  .formMain {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0px;
    box-shadow: 0px 0px 2px var(--border-modal);
    border-radius: 15px;
    padding: 1.5rem;
    gap: 2rem;
  }

  .form {
    margin: 0px 10px;
    border-radius: 25px;
    padding: 1.5rem;
    background-color: var(--white);
  }

  .formButtons {
    justify-content: center;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideModal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
